/** Html/Body/universal font **/
html {
	background-color: #FAF2F0;
}

html#main {
	height: 100%;
	background-image: url("../assets/bg.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2400px auto;
	background-color: #FAF2F0;
	min-width: 750px;
}

body {
	margin: 0 50px 0 50px;
	font-family: 'IBM Plex Mono', monospace;
	min-height: 100%;
}

h1, h2, h3 {
	font-family: 'DM Serif Display', serif;
}

/** Vectors **/

.vector-1 {
	position: absolute;
	bottom: 0;
	z-index: 0;
}

/** Navbar **/

header {
	height: 125px;
}

.left-nav h1 {
	font-size: 46px;
	cursor: pointer;
}

.left-nav span {
	color: #FB3C00;
}

.company-logos {
	vertical-align: middle;
}

.inline {
	display: inline-block;
}

.right-nav {
	float: right;
	height: 100%;
	display: flex;
	align-items: center;
}

.right-nav ul li{
	display: inline-block; 
}

a, a:visited {
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: none;
	color: black;
}

a:hover, a:active {
	color: #FB3C00;
	font-weight: bold;
}

a.nav-links {
 	margin-left: 40px;	
}

/** Intro Page**/

main.index-main-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 15%;
	z-index: 100;
	height: 400px;
}

main h1 {
	font-size: 42px;
}

.my-intro, .portrait {
	display: inline-block;
	vertical-align: top;
}

.my-intro {
	width: 473px;
	margin-right: 30px;
	height: 100%;
}

.hovered {
	display: none;
}

span.portrait-icons:hover .unhovered {
	display: none;
}

span.portrait-icons:hover .hovered {
	display: inline;
}

.portfolio-btn-wrapper {
	margin-top: 50px;
}

.portfolio-btn-wrapper {
	cursor: pointer;
}

.portfolio-btn {
	font-size: 1em;
	border: 1px solid black;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.3);
}

/** Work Container and Grid **/

.container {
	display: grid;
	grid-template-columns: 345px 430px 50px 1fr 1fr;
	grid-template-rows: 100px 1fr 1fr 1fr 50px;
	column-gap: 10px;
	row-gap: 20px;
	grid-auto-flow: row;
	margin-top: 50px;
}

.filler-left {
	grid-row-start: 2;
	grid-row-end: 6;
}

.filler-top {
	grid-column-start: 2;
	grid-column-end: 6;
}

.filler-right {
	grid-row-start: 2;
	grid-row-end: 6;
	grid-column-start: 5;
}

/** Work Grid Content **/

.filter {
	grid-column-start: 1;
	grid-row-start: 1;
	font-weight: bold;
}

.description {
	display: flex;
	justify-self: center;
	flex-direction: column;
}

.screenshot {
	display: flex;
	justify-content: center;
}
