body {
	margin: 30px 50px 30px 50px;
}

header {
	height: 134px;
}

span.icons {
    cursor: pointer;
}

.hovered {
    display: none;
}

span.icons:hover .unhovered {
    display: none;
}

span.icons:hover .hovered {
    display: inline;
}

.inline {
	display: inline-block;
}

.right-nav {
	float: right;
	line-height: 67px;
}

.right-nav ul li{
	display: inline-block; 
}