body {
	margin: 0 50px 0 50px;
	background-color: #FAF2F0;
}

h1, h2, h3 {
	font-family: 'Unna', serif;
}

a {
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: none;
	margin-left: 40px;
}

a:hover, a:active {
	color: #FB3C00;
	font-weight: bold;
}

.left-nav h1 {
	font-size: 46px;
}

.left-nav span {
	color: #FB3C00;
}

.company-logos {
	vertical-align: middle;
}

span.icons {
    cursor: pointer;
}

.hovered {
    display: none;
}

span.icons:hover .unhovered {
    display: none;
}

span.icons:hover .hovered {
    display: inline;
}

.inline {
	display: inline-block;
}

.right-nav {
	float: right;
	line-height: 67px;
}

.right-nav ul li{
	display: inline-block; 
}